body{
  background-image: url(2.jpg);
  text-align: center;
}

.container{
  width: 1000px;
  margin: auto;
  text-align: center;
  display: inline-block;
}

div.b{
  background-color: #00000096;
  display: inline-block;
}

.logo{
  width: 20%;
  margin-top: 100px;
}

.logo-text{
    font-family: arial;
    width: 100%;
    color: #00fe13;
    line-height: 2px;
}

.button{
  background-color: #00fe13;
  display: inline-block;
  width:750px;
  height:35px;
  line-height: 35px;
}

main{
  color:white;
  font-family: arial;
  font-size: 13px;
}

.row{
  margin-right: 540px;
  margin-block:30px;
  line-height: 0px;
}

.speciale{
  font-size:20px;
}

.freccia{
  margin-left: 30px;
}

.ultimafreccia{
  margin-right: 10px;
}

.carica{
  margin-right: 140px;
}

.arancio{
  width:250px;
  height:25px;
  background-color:#f8c040;
  display: inline-block;
  margin-left: 30px;
}

.verde{
  width:470px;
  height:25px;
  background-color:#00fa14;
  display: inline-block;
  margin-left: 120px;
}

.rosso{
  width:120px;
  height:25px;
  background-color:#ff4b4b;
  display: inline-block;
  margin-right:100px;
}
